{% extends "base.html" %}
{% block body %}
  <h1>Posts:</h1>
  {# <a href="{{ url_for('add_post') }}">Add Post</a><br />
  <a href="{{ url_for('register') }}">Register</a> #}
  {# <h1>Post1: {{post.title}}</h1> #}
  <table>
  {% for post in posts %}
    {# <tr><th>{{ post.title }}</th> #}
    {# <tr><th>{{post.id}}:</th><td><a href="{{ url_for('homepage') }}">{{ post.title }}</a></td></tr> #}
    <tr><th>{{ post.title }}</th></tr>
    <tr><th>{{ post.body }}</th></tr>
    <tr><th>{{ post.user.username}}

  {% endfor %}
  </table><br />
{% endblock %}
